
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu&subset=cyrillic');

*{
	margin: 0;
	padding: 0;
}

body {
	background: #F5EFED;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	
	-webkit-font-smoothing:antialiaset;

}

header {
	background-image:url(../img/header_m.png);
	background-size:cover;
	min-height: 400px;
	margin: 0;

}

.top_line{
	width: 100%;
	min-height: 80px;
	background-color: rgba(0, 0, 0, 0.6);

}

.col-md-5 h1 {
	font-family:'Ubuntu', sans-serif;
	color: #fff;
	font-size: 60px;
}

.col-md-5 li
 {
	
	font-size: 20px;
	list-style: none;
	display: inline-block;
	margin: 35px 15px 0 0;
}

.col-md-5 li a
{
	font-family:'Ubuntu', sans-serif;
	color: #fff;
}

div h2 
{
text-align: center;
text-transform: uppercase;
padding: 20px 0 20px;
font-size: 30px;
font-weight: bold;
color:#fff;
margin: 0;
}

.fig {
display: block;
text-align: center;

}

.fig img {
	height: 300px;
	width: 300px;
	border: 15px solid #1C1D1C;
	background-size: cover;
	border-radius: 150px;
	margin-top: -130px;


}


.about_me 
{
	background-color: #1C1D1C;
}

 .pont h3
 {
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.me p
{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: justify;
	margin: 0 0 10px 0;
	padding: 0;
}

.work {
	background-image: url(../img/project.jpg);
	background-size:cover;
	min-height: 500px;
	margin: 0;
}
.work h2{
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0 40px;
	font-size: 30px;
	font-weight: bold;
	color:#1C1D1C;
	margin: 0;
}

.prim img {
	max-width: 100%;
	margin-bottom: 20px;
}

.contact
{
	min-height: 500px;
	background: #1C1D1C;
	text-align: center;
}

.contact h2
{
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0 40px;
	font-size: 30px;
	font-weight: bold;
}


label 
{
color: #fff;
}

input[type="text"], input[type="email"]
{
width: 400px;
height: 30px;
font-size: 18px;
margin-bottom: 5px;
border-radius: 4px;
padding-left: 10px;
color: #333;

}

textarea[name="message"]
{
width: 400px;
font-size: 18px;
margin-bottom: 5px;
border-radius: 4px;
padding-left: 10px;
color: #333;

}

.col-md-6 p 
{
color: #fff;
font-family: 'Roboto', sans-serif;
font-size: 16px;
text-align: justify;
margin: 0 0 10px 0;
padding: 0;
}



.point{

text-align: center

}

.point a
{
color: #fff;
}

i.fa.fa-vk
{
font-size: 60px
color: #fff;
margin-top: 40px;
cursor: pointer;
padding-bottom: 30px;

}

button.submit {
margin: 15px 0 30px 0;
padding: 13px 30px;
font-size: bold;
color: #1C1D1C;
background-color: #fff;
border: none;
border-bottom: 4px solid ;
cursor: pointer;
border-radius: 10px;
font-weight: bold;

}

.bottom {
height: 80px;
background-image: url(../img/bottom.png);

}

.cop
{
color: #1C1D1C;
text-align: left;
padding: 40px 10px 0 10px;
}